<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/design_list.css' %}">
    {%block title%} <title>Дизайн студия</title> {%endblock%}

<link href="../assets/dist/css/bootstrap.min.css">

  </head>
  <body class="d-flex h-100 text-center text-bg-dark">



    {% if Applications_list %}
    <div class="main">
      {% for Applications in Applications_list %}
      <div class="design">
        <p>Название: {{ Applications.title }}</p>
        <img src="{{ Applications.img.url}}" alt="connect" style="max-height:150px">
        <p>Описание: {{ Applications.desc }}</p>
        <p>Cтатус: {{ Applications.get_status_display }}</p>
        <p>Категория: {{ Applications.category }}</p>
        {% if user.is_staff %}
        <p>Пользователь : {{ Applications.user.get_username }}</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% else %}
      <p>Заявок нет</p>
    {% endif %}
  <footer class="mt-auto text-white-50">

  </footer>

</div>
</body>
</html>