<!doctype html>
<html lang="en" class="h-100">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
{%block title%} <title>Дизайн студия</title> {%endblock%}
<link type="text/css" href="{% static 'main/css/category_control.css' %}" rel="stylesheet" />
<script src='//'></script>
</head>
<body class="">
  <div class="">
    <header>
      <nav class="container header__content">
        <a class="header__btn" aria-current="page" href="{% url 'home' %}">Домашняя
          страница</a>
          <a class="header__btn" href="{% url 'add_category' %}">Создать
              категорию</a>
      </nav>
  </header>

     <div class="main">
      <p><strong>Управление категориями:</strong></p>
        {% for category in category_list %}
          <div class="design">
            <p><a href="{% url 'delete_category' category.pk %}">Категория: {{category}}</a> </p>
          </div>
        {% endfor %}
    </div>


  </div>
</body>

</html>